.git
.gitignore
.idea
.vscode
.zed
.fleet
.nova
node_modules
vendor
.env
.env.*
!.env.example
!.env.production.example
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
database/*.sqlite
database/*.sqlite-journal
Dockerfile
